				<ul class="NavBar-links col m9">
					<li class="waves-effect"><%= link_to "Home", index_ %></li>
					<li class="waves-effect"><%= link_to "Productos", producto_altoqs_path %></li>
					<li class="waves-effect"><%= link_to "Cerra Sesion", login_altoqs_path %></li>
				</ul>
				<i class="zmdi zmdi-more-vert full btn-menu hide-on-med-and-up waves-effect"></i>
			</div>
		</nav>

	<div class="contenedor">
		<%= image_tag('zapatilla.jpg', class:'img') %>
		<div class="dent_cont">
			<p>ZAPATILLAS C77124 SUPERSTAR PARA HOMBRE</p>
			<a class="SKU">SKU: 2025168015169</a>
			<%= image_tag('entrega.png', class:'ent') %>

			<div class="conte_comp">
				<a class="cant">Cantidad</a>
				<a class="preci_uni">Precio unidad</a>
				<a class="preci_tota">Precio total</a>
				<a class="precio" id="precio_uni">S/2,100.55</a>
				<a class="total" id="precio_total">S/2,100.55</a>
				<div class="conte_aume">
					<button type="button" class="aume" id="menos">-</button>
					<input type="text" size="1" maxlength="3" class="cont" id="cant">
					<button type="button" class="aume" id="mas">+</button>
				</div>
			</div>
		</div>
	</div><br>
