			<ul class="NavBar-links col m9">
				<li class="waves-effect"><%= link_to "Home", altoqs_index_path() %></li>
				<li class="waves-effect"><%= link_to "Productos", producto_altoqs_path() %></li>
				<li class="waves-effect"><%= link_to "Carrito de Compras", carrito_altoqs_path() %></li>
				<li class="waves-effect"><%= link_to "Cerra Sesion", login_altoqs_path() %></li>
			</ul>
			<i class="zmdi zmdi-more-vert full btn-menu hide-on-med-and-up waves-effect"></i>
		</div>
	</nav>

	<section>
		<div class="container">
			<div class="row">
				<h4 class="center-align tittles">ZAPATILLAS C77124 SUPERSTAR PARA HOMBRE</h4>
				<!--Cuadro de Productos-->
				<div class="col s12 m6 l4">

					<div class="card" id="img">
							<%= image_tag('zapatilla.png', class:'activador', id:'aca')%>
					</div>

					<div class="card" id = "di">
							<a class="adidas">ADIDAS</a> <br> <a class="C77">ZAPATILLAS C77124 SUPERSTAR </a><br> <a class="C77">PARA HOMBRE </a><br> <a class="adidas">SKU: 2025168015169 </a><br> <a class="nombre">Adidas Superstar para hombre</a>
							<a class="ro">Internet</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a class="ro">S/229</a>
							<hr class="a"/>
							<a class="nombre">TALLA</a><br>
							<div class="nombre">
								<button type="button" name="button">41.5</button>
								<button type="button" name="button">42</button>
								<button type="button" name="button">otros</button><br><br>
								<button type="button" id="btn_agregar" class="boton">Agregar al carrito</button><br>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
