<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Pais:</strong>
  <%= @registro.pais %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @registro.usuario %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @registro.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @registro.apellidos %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @registro.edad %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registro.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @registro.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @registro.telefono %>
</p>

<p>
  <strong>Nro tarjeta:</strong>
  <%= @registro.nro_tarjeta %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @registro.contraseña %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>-->
